In [2]:
#Pandas for data management
import pandas as pd
from bs4 import BeautifulSoup
import requests as req
import sys
import json
import difflib

In [28]:
df = pd.read_csv('./links.csv')

In [29]:
df.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

27278

In [31]:
movieIDs = list(df['imdbId'])

In [32]:
len(movieIDs)

27278

In [33]:
id_review = []
counter = 1

for id in movieIDs:
    link = "https://www.imdb.com/title/tt0"+str(id)+"/reviews?spoiler=hide&sort=helpfulnessScore&dir=desc&ratingFilter=0"
    review_page = req.get(link)
    soup = BeautifulSoup(review_page.content, 'html.parser')
    currentMovieID = id
    
    print("Status ==  ", str(round((counter*100)/len(movieIDs), 3)),"% complete" )

    
    for div in soup.findAll('div', {'class': 'text show-more__control'}):
        id_review.append([id, div.text.strip()])
    
    counter = counter + 1

Status ==   1.0 % complete
Status ==   2.0 % complete
Status ==   3.0 % complete

In [34]:
filename = 'reviewsdata.csv'
pd.DataFrame(data=id_review, columns=["ID","Reviews"]).to_csv(filename, index=False)

In [47]:
filename = 'reviewsdata.csv'

In [48]:
#Reading the dataframe from CSV
df = pd.read_csv(filename)
df.head()

       ID                                            Reviews
0  114709  Andy's toys live a reasonable life of fun and ...
1  114709  I am a big fan of the animated movies coming f...
2  114709  This is a very clever animated story that was ...
3  114709  Y'know, I always suspected that my toys were c...
4  114709  Toy Story is the film that started Pixar Anima...

In [50]:
polarities = []
counter = 0
for index, row in df.iterrows():
    darray = []
    data = {}
    data['text'] = row['Reviews']
    darray.append(data)

    d = {}
    d['data'] = darray
    json_data = json.dumps(d)
    
    print("Completed ", str(counter*100/len(df)),"%")
    r=req.post("http://www.sentiment140.com/api/bulkClassifyJson?appid=karishmack14@gmail.com", data=json_data)
    
    if r.status_code != 200:
        print("Exception Occurred as web server has stopped accepting your request")
        break
    
    polarities.append(json.loads(r.text)['data'][0]['polarity'])
    counter = counter + 1
print("Completed")

Completed  0.0 %
Completed  1.3888888888888888 %
Completed  2.7777777777777777 %
Completed  4.166666666666667 %
Completed  5.555555555555555 %
Completed  6.944444444444445 %
Completed  8.333333333333334 %
Completed  9.722222222222221 %
Completed  11.11111111111111 %
Completed  12.5 %
Completed  13.88888888888889 %
Completed  15.277777777777779 %
Completed  16.666666666666668 %
Completed  18.055555555555557 %
Completed  19.444444444444443 %
Completed  20.833333333333332 %
Completed  22.22222222222222 %
Completed  23.61111111111111 %
Completed  25.0 %
Completed  26.38888888888889 %
Completed  27.77777777777778 %
Completed  29.166666666666668 %
Completed  30.555555555555557 %
Completed  31.944444444444443 %
Completed  33.333333333333336 %
Completed  34.72222222222222 %
Completed  36.111111111111114 %
Completed  37.5 %
Completed  38.888888888888886 %
Completed  40.27777777777778 %
Completed  41.666666666666664 %
Completed  43.05555555555556 %
Completed  44.44444444444444 %
Completed  45.833333333333336 %
Completed  47.22222222222222 %
Completed  48.611111111111114 %
Completed  50.0 %
Completed  51.388888888888886 %
Completed  52.77777777777778 %
Completed  54.166666666666664 %
Completed  55.55555555555556 %
Completed  56.94444444444444 %
Completed  58.333333333333336 %
Completed  59.72222222222222 %
Completed  61.111111111111114 %
Completed  62.5 %
Completed  63.888888888888886 %
Completed  65.27777777777777 %
Completed  66.66666666666667 %
Completed  68.05555555555556 %
Completed  69.44444444444444 %
Completed  70.83333333333333 %
Completed  72.22222222222223 %
Completed  73.61111111111111 %
Completed  75.0 %
Completed  76.38888888888889 %
Completed  77.77777777777777 %
Completed  79.16666666666667 %
Completed  80.55555555555556 %
Completed  81.94444444444444 %
Completed  83.33333333333333 %
Completed  84.72222222222223 %
Completed  86.11111111111111 %
Completed  87.5 %
Completed  88.88888888888889 %
Completed  90.27777777777777 %
Completed  91.66666666666667 %
Completed  93.05555555555556 %
Completed  94.44444444444444 %
Completed  95.83333333333333 %
Completed  97.22222222222223 %
Completed  98.61111111111111 %

In [51]:
df['polarity'] = polarities

In [52]:
df.head()

       ID                                            Reviews  polarity
0  114709  Andy's toys live a reasonable life of fun and ...         4
1  114709  I am a big fan of the animated movies coming f...         4
2  114709  This is a very clever animated story that was ...         4
3  114709  Y'know, I always suspected that my toys were c...         4
4  114709  Toy Story is the film that started Pixar Anima...         4